// variables
$nav-color: #369;
$link-color: #fff;

/* Header Styles
=====================*/
.navbar-fixed-top {
  line-height: 70px;
  a {
    color: $link-color;
  }
  .admin-bar & {
    margin-top: 32px;
  }
}


.jumbotron.front {
  height: 800px;
  background: url(http://37.media.tumblr.com/3afad829ce330a66b3bbb98831c1c393/tumblr_mx3tpto69r1st5lhmo1_1280.jpg) fixed;
  background-size: cover;
}
